{% extends 'base.html' %}
{% block title %} MoveMyMusic {% endblock %}
{% import 'macros/form_macros.html' as f %}

{% block app_content %}
<!-- <script type="text/javascript" src="{{ url_for('static', filename= 'js/usage.js')}}"></script> -->
<h1 class="cover-heading">Configuration</h1>
<main role="main" class="container usage-menu">

    <form id="form" method="POST" action="/usage">
        <div class="row">
            <div class="col-8">

                <div class="row">
                    <div class="col-auto" style="text-align: end;">
                        <h5>Step 1:<br/>Choose source</h5>
                    </div>
                    <div class="col d-flex justify-content-start">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="srcRadio1" value="vk">
                            <label class="form-check-label" for="srcRadio1">VK</label>
                        </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="srcRadio2" value="ym">
                        <label class="form-check-label" for="srcRadio2">YM</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="srcRadio3" value="sp">
                        <label class="form-check-label" for="srcRadio3">SP</label>
                    </div>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <div class="col-8">
                        <input name="sourceLogin" type="login" id="sourceLogin" class="form-control" placeholder="Login" autofocus disabled>
                        <small id="sourceHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="col">
                        <a href="" id="sp-login-btn" class="btn btn-sm btn-primary" style="display: none;">Log In</a>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8">
                        <input name="sourcePassword" type="password" id="sourcePassword" class="form-control" placeholder="Password" disabled>
                    </div>
                    <div class="col">
                        <button type="button" id="check-source" class="btn btn-md btn-primary" disabled>
                            <span id="spinner" class="spinner-border spinner-border-sm" style="display: none;" role="status" aria-hidden="true"></span>
                            <span id="btn-text">Check</span>
                        </button>
                    </div>
                </div>

                <div class="row mb-3" style="border-bottom: 0.2rem; border-bottom-color: azure; border-bottom-style: solid;"></div>


                <div class="row">
                    <div class="col-auto text-muted" style="text-align: end;" id="step2Heading">
                        <h5>Step 2:<br />Choose target</h5>
                    </div>
                    <div class="col d-flex justify-content-start">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="trgtRadio2" value="ym" disabled>
                            <label class="form-check-label" for="trgtRadio2">YM</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="trgtRadio3" value="sp"
                                disabled>
                            <label class="form-check-label" for="trgtRadio3">SP</label>
                        </div>
                    </div>
                </div>

                <div class="form-group row mb-2">
                    <div class="col-8">
                        <input name="trgtLogin" type="login" id="trgtLogin" class="form-control" placeholder="Login" autofocus disabled>
                        <small id="trgtHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="col">
                        <button type="button" id="sp-login-btn2" class="btn btn-sm btn-primary" style="display: none;">Log In</button>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8">
                        <input name="trgtPassword" type="password" id="trgtPassword" class="form-control" placeholder="Password" disabled>
                    </div>
                    <div class="col">
                        <button type="button" id="check-trgt" class="btn btn-md btn-primary" disabled>
                            <span id="spinner2" class="spinner-border spinner-border-sm" style="display: none;" role="status"
                                aria-hidden="true"></span>
                            <span id="btn2-text">Check</span>
                        </button>
                    </div>
                </div>

                <div class="row" style="border-bottom: 0.2rem; border-bottom-color: azure; border-bottom-style: solid;"></div>
            </div>


            <div class="col-4">
                <div class="container">
                <div class="row text-muted" id="step3Heading"><h5>Step 3: Choose content</h5></div>
                <ul class="row list-group mb-3">
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkAll" disabled>
                            <label class="custom-control-label" for="checkAll">All tracks</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkAlbums" disabled>
                            <label class="custom-control-label" for="checkAlbums">Albums</label>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="checkArtists" disabled>
                            <label class="custom-control-label" for="checkArtists">Artists</label>
                        </div>
                    </li>

                    <li class="list-group-item">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true" style="color: rgba(121, 127, 133, 1);" disabled>
                                playlists
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu checkbox-menu allow-focus" aria-labelledby="dropdownMenu1" id="playlist-dropdown">
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="row mb-3" style="border-bottom: 0.2rem; border-bottom-color: azure; border-bottom-style: solid;"></div>
                </div>
                <div class="container">
                    <div class="col">
                    <button class="btn btn-md btn-primary" type="submit" id="confirm" disabled>Submit</button>
                    </div>
                    </div>
            </div>
        </div>
    </form>
</main>
<div class="status-menu collapse" id="progress">
<div class="row">
    <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item">Auth source</li>
                <li class="list-group-item">Auth target</li>
                <li class="list-group-item">Export source</li>
                <li class="list-group-item">Import target</li>
                <li class="list-group-item">Summarizing</li>
            </ul>
    </div>
    <div class="col-8">
        <div class="logs mt-4">
                UHUIHUIHUIHIUHUI
        </div>
    </div>
</div>
</div>
{% endblock %}
{% block extend_js %}
<script>
$(".checkbox-menu").on("change", "input[type='checkbox']", function() {
$(this).closest("li").toggleClass("active", this.checked);
});

$(document).on('click', '.allow-focus', function (e) {
e.stopPropagation();
});
</script>
<script type="text/javascript" src="{{ url_for('static', filename= 'js/usage.js')}}"></script>
{% endblock %}
